
@keyframes spin {
    100% {
        transform: rotate(360deg)
    }
}

html {
    font-family: "Onest", system-ui, sans-serif;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-feature-settings: normal;
    font-variation-settings: normal;
    background-image: radial-gradient(ellipse 80% 80% at 50% -20%, #d9d8ff80, #ffffffe6);
    background-color: rgb(249, 250, 251);

    body {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overscroll-behavior: none;

        header {
            display: flex;
            position: fixed;
            justify-content: center;
            align-items: center;
            top: 0;
            z-index: 10;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-top: .5rem;
        
            nav {
                padding-left: .75rem;
                padding-right: .75rem;
                border-radius: 9999px;
                justify-content: center;
                align-items: center;
                display: flex;
                font-weight: 500;
                color: #4B5563;
                font-size: .975rem;
                line-height: 1.25rem;
                background-color: transparent;
                backdrop-filter: blur(0px);
                transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
            
                

                a {
                    padding: .5rem;
                    display: block;
                    position: relative;
                    color: inherit;
                    text-decoration: inherit;

                    &:hover {
                        color: rgb(59, 130, 246);
                    }
                }
            }
        }

        main {
            padding-left: 1rem;
            padding-right: 1rem;

            section {
                scroll-margin: 5rem;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                padding-top: 4rem;
                padding-bottom: 4rem;

                @media (min-width: 1024px) {
                    max-width: 56rem;
                }

                @media (min-width: 768px) {
                    max-width: 42rem;
                    padding-top: 9rem;
                    padding-bottom: 6rem;
                }
            }
        }
        
        footer {
            opacity: .8;
            justify-content: center;
            width: 100%;
            display: flex;
            margin-top: 4rem;
            margin-bottom: 2.5rem;
            margin-left: auto;
            margin-right: auto;
        }
    }

    h2 {
        color: #000c;
        font-weight: 600;
        font-size: 1.875rem;
        line-height: 2.25rem;
        column-gap: .75rem;
        align-items: center;
        display: flex;
        margin-bottom: 1.5rem;
    }
}

nav.scrolled {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

/* Inicio */

.max-width-xl {
    max-width: 36rem;
}

.picture-div {
    gap: 1rem;
    display: flex;
    margin-bottom: 1rem;

    .picture-img {
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        border-radius: 9999px;
        width: 4rem;
        height: 4rem;
        max-width: 100%;
        display: block;
    }

    .picture-a {
        @media (min-width: 768px) {
            justify-content: center;
        }

        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-duration: .15s;

        align-items: center;
        display: flex;
        text-decoration: none;

        .picture-a-div {
            align-items: center;
            display: flex;

            .span-container {
                padding: 1px;
                border-radius: 9999px;
                overflow: hidden;
                display: inline-flex;
                position: relative;

                .span-animation {                    
                    background-image: conic-gradient(from 90deg at 50% 50%, #51e4b8, #21554e, #51e4b8);
                    animation: spin 2s linear infinite;
                    inset: -1000%;
                    position: absolute;
                }

                .span-div {
                    color: rgb(22 101 52);
                    font-size: .875rem;
                    line-height: 1.25rem;
                    padding-top: .25rem;
                    padding-bottom: .25rem;
                    padding-left: .75rem;
                    padding-right: .75rem;
                    background-color: rgb(220, 252, 231);
                    border-radius: 9999px;
                    white-space: nowrap;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    width: 100%;
                    display: inline-flex;
                    z-index: 2;
                }
            }
        }
    }
}

.picture-h1 {
    @media (min-width: 640px) {
        font-size: 3rem;
        line-height: 1;
    }

    color: rgb(31, 41, 55);
    letter-spacing: -.025em;
    font-weight: 700;
}

.picture-p {
    color: rgb(31, 41, 55);
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 1.5rem;

    strong {
        color: rgb(58, 58, 234);
        font-weight: 600;
    }
}

.picture-nav {
    gap: 1rem;
    flex-wrap: wrap;
    display: flex;
    margin-top: 2rem;

    .picture-nav-a {
        color: rgb(31 41 55);
        padding-top: .25rem;
        padding-bottom: .25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: rgb(243, 244, 246);
        border-style: solid;
        border-color: rgb(191, 195, 201);
        border-width: 1px;
        border-radius: 9999px;
        gap: .5rem;
        justify-content: center;
        align-items: center;
        max-width: fit-content;
        display: inline-flex;
        text-decoration: inherit;

        &:hover {
            color: rgb(255, 255, 255);
            background-color: rgb(17, 24, 39);
            border-color: rgb(55, 65, 81);
        }

        &:hover svg {
            fill: rgb(255, 255, 255);
        }

        svg {
            width: 1rem;
            height: 1rem;
            display: block;
            fill: currentColor;
        }
    }
}

/* Subsections */
.sub-sections {
    /*margin-top: 6rem;*/

    section {
        padding-top: 0rem;
        padding-bottom: 0rem;
        margin-top: 6rem;

        svg {
            width: 2rem;
            height: 2rem;
            display: block;
        }

        ol {
            margin-top: 4rem;
            position: relative;
            list-style: none;

            .list-element {
                @media (min-width: 768px) {
                    gap: 2.5rem;
                    grid-template-columns: repeat(5, minmax(0, 1fr));
                }

                padding-bottom: 3rem;
                display: grid;
                margin-left: 3rem;
                margin-right: 3rem;
                position: relative;

                &::before {
                    content: "";
                    height: 100%;
                    left: -35px;
                    top: 0;
                    background-color: #0003;
                    position: absolute;
                    width: 2px;
                }

                .list-element-left {
                    @media (min-width: 768px) {
                        grid-column: span 2 / span 2;
                    }

                    padding-bottom: 3rem;
                    position: relative;

                    .sticky-top {
                        position: sticky;
                        top: 0;

                        .timeline-marker {
                            width: 0.7rem;
                            height: 0.7rem;
                            background-color: rgb(67, 119, 210);
                            border-radius: 9999px;
                            position: absolute;
                            top: 20px;
                            left: -40px;
                        }

                        h3 {
                            color: rgb(67, 119, 210);
                            font-weight: 700;
                            font-size: 1.25rem;
                            line-height: 1.75rem;
                            margin: 0;
                        }

                        h4 {
                            color: rgb(75 85 99);
                            font-weight: 600;
                            font-size: 1.25rem;
                            line-height: 1.75rem;
                            margin: 0;
                        }

                        time {
                            color: #4b5563cc;
                            font-size: .875rem;
                            line-height: 1.25rem;
                            padding: 0;
                            margin: 0;
                        }
                    }
                }

                .list-element-right {
                    @media (min-width: 768px) {
                        grid-column: span 3 / span 3;
                    }

                    padding-bottom: 1rem;
                    color: rgb(75 85 99);
                    gap: .5rem;
                    flex-direction: column;
                    position: relative;

                    a {
                        color: rgb(58, 58, 234);
                        font-weight: 500;
                        font-size: 1.125rem;
                        line-height: 1.75rem;
                        align-items: center;
                        display: flex;
                        text-decoration: inherit;
                        margin-top: 5px;

                        &:hover {
                            color: rgb(23, 71, 154);
                        }

                        &:hover svg {
                            fill: rgb(23, 71, 154);
                        }
                
                        svg {
                            width: 2rem;
                            height: 1.3rem;
                            display: block;
                            fill: currentColor;
                        }
                    }
                }
            }
        }
    }
}

/* About */

.about-article {
    @media (min-width: 768px) {
        flex-direction: row;
    }

    color: rgb(55 65 81);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;

    .about-text {
        @media (min-width: 768px) {
            order: 1;
        }

        text-wrap: pretty;

        p {
            margin-bottom: 1rem;

            strong {
                color: rgb(58, 58, 234);
                font-weight: 600;
            }
        }
    }

    .about-img {
        @media (min-width: 1024px) {
            padding: .5rem;
            width: 16rem;
        }

        @media (min-width: 768px) {
            order: 2;
        }

        object-position: 50% 50%;        
        padding: .25rem;
        object-fit: cover;
        background-color: #0003;
        border-radius: 1rem;
        height: 100%;
        aspect-ratio: 1 / 1;
        order: 1;
        max-width: 100%;
        display: block;
        transform: rotate(3deg);
    }
}